
/* Foogle Font */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sniglet:wght@400;800&display=swap');

*{
    box-sizing:border-box;
}
header,section{
    overflow-x:hidden;
}
.root{
--Snigle-font:"Sniglet",cursive;
--Rubik:"Rubik",cursive;
--Patue:"Patua One",cursive;
--Lobster:"Lobster",cursive;
--light-black:#2e2c2caf;
--bggradient:linear-gradient(
    to bottom,#dd2476,#ff512f);
    -light-gray:rgba(255,255,255,0);
}
.headernav a{
    font-family:var(--Snigle-font);
    font-size:0.9em;
    color:whitesmoke;
}
header{
    background: var(--bggradient);
    background-color: #dd2476;
}
.dropdown-content{
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background:#ddd;
}

.dropdown:hover .dropdown-content{
    display: block;
}
header.nav-item.last-child{
    padding-right: 10.5em;
}
header.nav-item{
    padding: 0.9em;
}
header.nav-brand{
    padding-left: 8rem;
}

header.nav-link:hover{
    color: black;
}
header.row.col-md-5{
    padding: 4.2vmin 1vmin;
}
.header1{
    padding: 22vmin 1vmin;
    padding-bottom: 20vmin;
    font-family: var(--Rubik);
    color: white;
}
.headerimg{
    width: 40%;
    margin-top: 80px;
    transform: rotate(10deg); /* Rotates the image 90 degrees to the right */
    transform-origin: center; /* Ensures the rotation happens from the center of the image */
    height:auto ; /* Maintains the aspect ratio */
    border-radius: 9px; /* Optional: for rounded corners */
}

.header1 h6{
    padding: 1vmin;
    letter-spacing:4px ;
}
.header1 h1{
font-size: 8vmin;
font-weight: bold;
padding: 0.1em 0rem;
}
.header1 p{
    padding: 1vmin 5vmin;
}
.header1 button{
    border-radius: 30px;
    font-weight: bold;
}

/* section1 */

.section-1 img{
    opacity: 0.8;
   width: 80%;
   border-radius: 0.2em;
   padding-bottom: 0px;
}
.section-1{
    padding-top: 10vmin;
    padding-bottom: -0vmin;

}
.section-2{
padding-top: 0px;
}

.section-1 .row.col-md-6.prayimg{
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2emx;
}
/* .panel{
    position: relative;
} */
 .section-1 img{
height: 70% !important;
padding-bottom: px;
 }
 .panel{
     position:absolute;
    top:110vmin;
    left: 78vmin; 
    background: white;
    border-radius: 3px;
    text-align: center;
    padding: 10vmin 10vmin 7vmin 7vmin;
    box-shadow: 0px 25px 42px rgba(0,0,0,0.2);
    font-family: var(--Rubik);
    z-index: 1;
    width: 50%;
    height: 60%;
    padding-bottom: 0px;
} 
.panel h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-style: 2em;
}
.panel p{
    font-size: 0.9em;
    color: rgba(0,0,0,0.5);
}

/* section2 */

.cover{
    width: 100%;
    height: 55vmin;
    background-image: url(..//image/bgimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.cover .content{
    background: rgba(43, 42, 42, 0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}
.cover h1{
    font-weight: bold;
    font-family: var(--Patue);
    font-size: 6vmin;
    color: white;
}
.cover p{
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: white;
}
.rect{
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 1em;
    box-shadow: 1px 2px 50px 0px rgba(255,0,0,0.349);
}
.numbers{
    margin-top: -15vmin;
}
.rect h1{
    padding-top: 20px;
    font-size: 4rem;
    color: tomato;
}
.rect p{
    font-family: var(--Patue);
    font-weight: bold;
}
.purchase h1{
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--Lobster);
}
.purchase p{
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}
.purchase .cards .card{
    width: 22rem;
    margin: 3vmin;
}
.title{
    background: rgba(208,241,241,0.6);
    padding: 1.4rem 2.5rem;
    font-size: 2vmin;
}
.card .card-text{
    padding: 2.5rem 3rem;
    color: var(--light-black);
}
.card-body .pricing{
    background:rgba(208,241,241,0.6);
    border-top-right-radius:170px;
    border-top-left-radius:170px;
}

.card-body.pricing h1{
    font-size: 10vmin;
    padding: 1em 0.5em;
}

/* section-3 */

.section-3 {
    height: 70vmin;
    margin-top: 15vmin;
    background: #dd2476;
}
.section-3 .col-md-12 h1{
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}
.section-3 .col-md-12 p{
    padding: 0.4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 3vmin;
}
 .desktop1{
    background: rgb(239, 239, 239);
    display: inline-block;
    border-radius: 20em;
    padding: 2vmin 4.5vmin;
    margin: 2em;
}
.section-3 .col-md-12 p{
    padding: 0.4em;
    padding-bottom: 2em;
    color: whitesmoke;
    font-size: 3vmin;
    padding-left: 4em;
    padding-right: 4em;
}
.section-3 .desktop{
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 1vmin 4.5vmin;
    margin: 1em;
}
.section-3 .desktop h3{
    font-size: 4vmin;
}
.section-3 .desktop p{
    font-size: 2vmin;
}
/* section-4 */
.section-4 .container h1{
    font-size: 6vmin;
    padding-top: 14vmin;
}
.section-4 .team{
    padding: 10vmin 4vmin;
}
.section-4 .card{
    width: 22rem;
    margin-top: 10vmin;
}
.section-4 .card .card-text{
    padding: 0.5em;
}
.section-4 .card .card-body a{
    font-size: 1.5em;
}
.section-4 .carousel-item{
    padding-left: 3rem;
}
.border-radius{
    border-radius: 500px;
    width: 60%;
}
/* Footer */

footer{
    background: rgba(0, 0, 0, 0.958);
    overflow-x:hidden;
    padding: 14vmin 18vmin;
}
footer p>span{
    color: #ff512f;
}
footer input{
    border: none !important;
}
footer input::placeholder{
color:white !important;
}
footer .input-group .input-group-text{
    background: #d20762;
    padding: 10px;
    border: none;
}
footer .column i{
    color: #dd2476;
}
footer .column i+i{
    padding: 0 0.5em;
}
/* Sticky class */

.sticky{
    position:fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.815);
    z-index: 9999;
    transition: all 1.5s ease;
}